@import '../../styles/vars';

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.button {
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

	& + & {
		margin-left: 15px;
	}

	&:hover {
		color: $blue;
	}
}

.active {
	color: $blue;
}
