@import '../../styles/vars';

.input {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	padding: 10px;
	border: none;
	color: $black;
	background: $white;
	font-family: $font-family;
	line-height: 22px;
	width: 100%;
}
