@import '../../styles/vars';

.news {
	display: grid;
	grid-template-columns: auto minmax(280px, 1200px) auto;
	grid-template-areas: '. header .' '. content .';
	padding: 0 20px;
}

.header {
	grid-area: header;
}

.content {
	padding: 25px 0 50px;
	grid-area: content;
}

.buttonsWrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.activeButton {
	color: $black !important;
}

.sortButtonsWrapper > * + *,
.viewButtonsWrapper > * + * {
	margin-left: 15px;
}

.active {
	svg {
		-moz-transition: all 0.2s;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		fill: $blue;
	}
}

@media (max-width: 768px) {
	.content {
		padding: 20px 0 50px;
	}

	.buttonsWrapper {
		margin-bottom: 15px;
	}
}
